name: Build and Push Docker Image (ARM64 only)

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push (ARM64 only)
        uses: docker/build-push-action@v4
        with:
          push: true
          platforms: linux/arm64  # On ne build que pour ARM64
          tags: ghcr.io/remi-pcn/interactive-resume-template:latest
